.DS_Store
**/__pycache__/
**/*.pyc
.pytest_cache/
.ruff_cache/
.venv/
dist/
build/
*.log
.env
coverage/
.coverage
htmlcov/

# Terraform
/.terraform/
**/.terraform/
*.tfstate
*.tfstate.*
crash.log
crash.*.log
.terraform.lock.hcl

# Local docker
*.tar

